.navbar-container {
    margin: 20px;
}
.searchbar-container {
    background-color: #dba605;
    border-radius: 0.5rem;
    position: relative;
    padding: 0.5rem;
}
.searchbar-container input {
    border-radius: 5px 0 0 5px;
    border-right: none;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    border: none;
    padding: 5px;
}
.searchbar-container input:focus {
    outline: none;
}
.create-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    cursor: pointer;
    margin-inline-end: 0px;
    margin-inline-start: 10px;
    padding: 5px;
    transition: all 0.5s;
}
.search-button {
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: none;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s;
}
.searchbar-container button:hover {
    color: #f9f8f3;
    background-color: rgba(28, 24, 24, 0.996)
}
.filters-container {
    display: flex;
    justify-content: space-around;
    background-color: #0c0b0800;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.filters-container select {
    border-radius: 5px;
    margin: 0 0 0 10px;
    border: none;
    cursor: pointer;
}
.filters {
    display: flex;
}
.orders {
    display: flex;
}
.create-home-buttons {
    display: flex;
    position: absolute;
    right: 4%;
    bottom: 15%;
}
